 .u-section-1 {
  background-image: url("images/BlueBlackRedModernColorPlayerLogoYouTubeThumbnail1.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 8px -7px 8px 0 rgba(128,128,128,0.65);
  transition-duration: 0.5s;
  margin: 60px auto;
  padding: 20px 72px 21px 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-btn-1:hover {
  border-radius: 50px !important;
  transform: scale(1.39) !important;
}